<a href="https://colab.research.google.com/github/pierrelarmande/OryzaGP/blob/main/src/OryzaGP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import json
import csv
import pickle
from urllib.request import urlopen
import numpy as np
import missingno as msno
import nltk
import pprint
import os, sys, re, pprint, datetime, time
import copy

In [3]:
!pip install pubmed-lookup

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pubmed-lookup
  Downloading pubmed_lookup-0.2.3-py32-none-any.whl (13 kB)
Collecting biopython>=1.66
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 4.6 MB/s
Collecting xmltodict>=0.9.2
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython>=1.66->pubmed-lookup) (1.21.6)
Installing collected packages: xmltodict, biopython, pubmed-lookup
Successfully installed biopython-1.79 pubmed-lookup-0.2.3 xmltodict-0.13.0

In [4]:
import requests
from bs4 import BeautifulSoup
from pubmed_lookup import PubMedLookup
from pubmed_lookup import Publication
from joblib import Parallel, delayed

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/Github/

Mounted at /content/gdrive
/content/gdrive/MyDrive/Github

In [6]:
# Connecting to the GIT repository
! git config --global user.email "plarmande@gmail.com"
! git config --global user.name "pierrelarmande"

username = 'pierrelarmande'
repo = 'OryzaGP'
# To create a token : https://github.com/settings/tokens
git_token = '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'

url = "https://"+git_token+"@github.com/"+username+"/"+repo+".git"

In [7]:
# Clone if doesn't already exist
#!git clone {url}
%pwd
%cd $repo
#%cd $repo
#! git pull

fatal: destination path 'OryzaGP' already exists and is not an empty directory.
/content/gdrive/MyDrive/Github/OryzaGP

In [8]:
# Get data
reference_file = r'https://shigen.nig.ac.jp/rice/oryzabase/reference/download'
gene_file = r'https://shigen.nig.ac.jp/rice/oryzabase/gene/download?classtag=GENE_EN_LIST'
reference_file = 'https://shigen.nig.ac.jp/rice/oryzabase/reference/download'
base_url = "https://shigen.nig.ac.jp/rice/oryzabase/gene/detail/"
#page = requests.get(base_url + "477")
output_file  = 'reference_cleaned.txt'
pub_mappings_geneid = 'pub_mappings_genid.txt'

#iric = pd.DataFrame(pd.read_pickle('output/iric_oryzabase_tf_rapdb_annotation.pkl'))

In [9]:
array = pd.read_csv(reference_file, sep='\t', delimiter=None, index_col= 0, dtype='str', encoding = "ISO-8859-1", error_bad_lines=False, skip_blank_lines=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 11636: expected 10 fields, saw 12\n'

In [10]:
array.head()

,PubMedId,Author,Title,Journal,Volume,Pages,Year,CGSNL Gene Symbol,Gene Name Synonym
Reference_id,,,,,,,,,
1,NaN,"Abenes, M.L.P., R.E. Tabien, S.R. McCouch, R. ...",Orientation and integration of the classical a...,Euphytica,76,81-87.,1994,"LA,D27,Z2,XA21,ADH1","la,d27(d t), dt, dwf23, d27, OsD27,z2,Xa21*, X..."
2,NaN,"Adachi, T.",Dwarfness and leafy head newly found in rice.,Agric. & Hort.,10(4),1048-1050.,1935,LHD,lhd
3,8103599,"Ahn, S. and S.D. Tanksley",Comparative linkage maps of the rice and maize...,Proc. Natl. Acad. Sci. U.S.A.,90,7980-7984.,1993,NaN,NaN
4,NaN,"Ahn, S.N., C.N. Bollich, A.M. McClung and S.D....",RFLP analysis of genomic regions associated wi...,Theor. Appl. Genet.,87,27-32.,1993,"SK2(T)(SCL, FGR)","sk2(t)(scl, fgr), fgr, scl, BAD2, BADH2, sk2, ..."
5,7903411,"Ahn, S., J.A. Anderson, N.E. Sorrels and S.D. ...","Homologous relationships of rice, wheat and ma...",Mol. Gen. Genet.,241,483-490.,1993,NaN,NaN

In [11]:
array.count()

PubMedId             19312
Author               21350
Title                21358
Journal              21344
Volume               19526
Pages                18895
Year                 21327
CGSNL Gene Symbol     8643
Gene Name Synonym     8575
dtype: int64

#**Clean up the dataset**

In [12]:
result = array.dropna(subset=['PubMedId'])

In [13]:
result.count()

PubMedId             19312
Author               19293
Title                19300
Journal              19286
Volume               17626
Pages                16847
Year                 19269
CGSNL Gene Symbol     7172
Gene Name Synonym     7123
dtype: int64

In [14]:
# donnees.drop(['Unnamed: 15', 'Unnamed: 16'], axis=1,inplace=True)
final_result = result.drop(['Author','Title','Journal','Volume','Pages','Year'], axis=1)

In [15]:
final_result.head()

,PubMedId,CGSNL Gene Symbol,Gene Name Synonym
Reference_id,,,
3,8103599,NaN,NaN
5,7903411,NaN,NaN
42,7247938,ACP1,Acp1
45,17248812,"SD2,SD3","sd2,sd3"
113,18470071,"EF,BPH10","Ef(t)*, ef(t)*, Ef, ef,Bph10(t)*, Bph10"

In [16]:
final_result=final_result.fillna('_')

In [17]:
print(len(final_result[final_result['CGSNL Gene Symbol'] == '_']))

12497

#**Saving the results**

In [18]:
! git pull
#! git add output/iric_oryzabase_tf_annotation.pkl
! git commit -m "saving"
! git push

Already up to date.
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean
Everything up-to-date