<a href="https://colab.research.google.com/github/pierrelarmande/OryzaGP/blob/main/src/OryzaGP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import json
import csv
import pickle
from urllib.request import urlopen
import numpy as np
import missingno as msno
import nltk
import pprint
import os, sys, re, pprint, datetime, time
import copy

In [1]:
!pip install pubmed-lookup

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pubmed-lookup
  Downloading pubmed_lookup-0.2.3-py32-none-any.whl (13 kB)
Collecting xmltodict>=0.9.2
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Collecting biopython>=1.66
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 8.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython>=1.66->pubmed-lookup) (1.21.6)
Installing collected packages: xmltodict, biopython, pubmed-lookup
Successfully installed biopython-1.79 pubmed-lookup-0.2.3 xmltodict-0.13.0

In [2]:
import requests
from bs4 import BeautifulSoup
from pubmed_lookup import PubMedLookup
from pubmed_lookup import Publication
from joblib import Parallel, delayed

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/Github/

Mounted at /content/gdrive
/content/gdrive/MyDrive/Github

In [4]:
# Connecting to the GIT repository
! git config --global user.email "plarmande@gmail.com"
! git config --global user.name "pierrelarmande"

username = 'pierrelarmande'
repo = 'OryzaGP'
# To create a token : https://github.com/settings/tokens
git_token = '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'

url = "https://"+git_token+"@github.com/"+username+"/"+repo+".git"

In [5]:
# Clone if doesn't already exist
#!git clone {url}
%pwd
%cd $repo
#%cd $repo
#! git pull

/content/gdrive/MyDrive/Github/OryzaGP

In [7]:
# Get data
reference_file = r'https://shigen.nig.ac.jp/rice/oryzabase/reference/download'
gene_file = r'https://shigen.nig.ac.jp/rice/oryzabase/gene/download?classtag=GENE_EN_LIST'
reference_file = 'https://shigen.nig.ac.jp/rice/oryzabase/reference/download'
base_url = "https://shigen.nig.ac.jp/rice/oryzabase/gene/detail/"
#page = requests.get(base_url + "477")
output_file  = 'reference_cleaned.txt'
pub_mappings_geneid = 'pub_mappings_genid.txt'
abstracts_file = 'output/abstracts.csv'

#iric = pd.DataFrame(pd.read_pickle('output/iric_oryzabase_tf_rapdb_annotation.pkl'))

In [10]:
pd_gene = pd.read_csv(gene_file, sep='\t', delimiter=None, index_col= 0, dtype='str', encoding = "ISO-8859-1", error_bad_lines=False, skip_blank_lines=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
array = pd.read_csv(reference_file, sep='\t', delimiter=None, index_col= 0, dtype='str', encoding = "ISO-8859-1", error_bad_lines=False, skip_blank_lines=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 11636: expected 10 fields, saw 12\n'

In [13]:
array.head()

,PubMedId,Author,Title,Journal,Volume,Pages,Year,CGSNL Gene Symbol,Gene Name Synonym
Reference_id,,,,,,,,,
1,NaN,"Abenes, M.L.P., R.E. Tabien, S.R. McCouch, R. ...",Orientation and integration of the classical a...,Euphytica,76,81-87.,1994,"LA,XA21,Z2,D27,ADH1","la,Xa21*, Xa21, OsXA21,z2,d27(d t), dt, dwf23,..."
2,NaN,"Adachi, T.",Dwarfness and leafy head newly found in rice.,Agric. & Hort.,10(4),1048-1050.,1935,LHD,lhd
3,8103599,"Ahn, S. and S.D. Tanksley",Comparative linkage maps of the rice and maize...,Proc. Natl. Acad. Sci. U.S.A.,90,7980-7984.,1993,NaN,NaN
4,NaN,"Ahn, S.N., C.N. Bollich, A.M. McClung and S.D....",RFLP analysis of genomic regions associated wi...,Theor. Appl. Genet.,87,27-32.,1993,"SK2(T)(SCL, FGR)","sk2(t)(scl, fgr), fgr, scl, BAD2, BADH2, sk2, ..."
5,7903411,"Ahn, S., J.A. Anderson, N.E. Sorrels and S.D. ...","Homologous relationships of rice, wheat and ma...",Mol. Gen. Genet.,241,483-490.,1993,NaN,NaN

In [14]:
array.count()

PubMedId             19312
Author               21350
Title                21358
Journal              21344
Volume               19526
Pages                18895
Year                 21327
CGSNL Gene Symbol     8643
Gene Name Synonym     8575
dtype: int64

#**Clean up the Reference dataset**

In [15]:
result = array.dropna(subset=['PubMedId'])

In [16]:
result.count()

PubMedId             19312
Author               19293
Title                19300
Journal              19286
Volume               17626
Pages                16847
Year                 19269
CGSNL Gene Symbol     7172
Gene Name Synonym     7123
dtype: int64

In [17]:
# donnees.drop(['Unnamed: 15', 'Unnamed: 16'], axis=1,inplace=True)
final_result = result.drop(['Author','Title','Journal','Volume','Pages','Year'], axis=1)

In [18]:
final_result.head()

,PubMedId,CGSNL Gene Symbol,Gene Name Synonym
Reference_id,,,
3,8103599,NaN,NaN
5,7903411,NaN,NaN
42,7247938,ACP1,Acp1
45,17248812,"SD2,SD3","sd2,sd3"
113,18470071,"EF,BPH10","Ef(t)*, ef(t)*, Ef, ef,Bph10(t)*, Bph10"

In [ ]:
final_result=final_result.fillna('_')

In [19]:
print(len(final_result[final_result['CGSNL Gene Symbol'] == '_']))

357

In [20]:
final_result.astype({'PubMedId': 'int32'}).dtypes

PubMedId              int32
CGSNL Gene Symbol    object
Gene Name Synonym    object
dtype: object

In [21]:
final_result['PubMedId'] = pd.to_numeric(final_result['PubMedId'])

In [22]:
final_result['PubMedId'].value_counts()[0]

2116

In [23]:
pmids_list = final_result['PubMedId'].to_numpy()

In [24]:
final_result.dtypes

PubMedId              int64
CGSNL Gene Symbol    object
Gene Name Synonym    object
dtype: object

In [25]:
pmids_list

array([ 8103599,  7903411,  7247938, ...,        0,        0, 31555061])

In [26]:
pmids_set = set(pmids_list)

In [27]:
pmids = list(pmids_set)

In [ ]:
pmids[1:10]

[31424513,
 12582914,
 22020099,
 12582916,
 25821195,
 20938764,
 25755661,
 18612237,
 31621135]

# Exporting mapping Gene_ID and Gene Name

In [30]:
pd_gene.head(3)

,CGSNL Gene Symbol,Gene symbol synonym(s),CGSNL Gene Name,Gene name synonym(s),Protein Name,Allele,Chromosome No.,Explanation,Trait Class,RAP ID,MSU ID,Gramene ID,Arm,Locate(cM),Gene Ontology,Trait Ontology,Plant Ontology
Trait Gene Id,,,,,,,,,,,,,,,,,
1,[CMS-54257],"[cms-54257]*, [cms-54257]",CYTOPLASMIC MALE STERILITY 54257,Cytoplasmic mutant induced by somaclonal varia...,NaN,NaN,NaN,PO:0009066; anther.,"Reproductive organ - Pollination, fertilizati...",NaN,NaN,GR:0060167,NaN,NaN,"GO:0000001 - mitochondrion inheritance, GO:000...",TO:0000232 - cytoplasmic male sterility (sensu...,PO:0009066 - anther
2,[CMS-AK]([CMS-JP]),"[cms-ak]([cms-jp]), [cms-jp], [cms-ak]",CYTOPLASMIC MALE STERILITY AK,"Akebono' cytoplasm, 'Akebono' cytoplasm",NaN,NaN,NaN,PO:0009066; anther.,"Reproductive organ - Pollination, fertilizati...",NaN,NaN,GR:0060144,NaN,NaN,"GO:0000001 - mitochondrion inheritance, GO:000...",TO:0000232 - cytoplasmic male sterility (sensu...,PO:0009066 - anther
3,[CMS-ARC],"[cms-ARC]*, [cms-ARC] [mt], [cms-ARC]",CYTOPLASMIC MALE STERILITY ARC,"ARC13829-16 cytoplasm, `ARC13829-26' cytoplasm",NaN,NaN,NaN,PO:0006452; microspore (sensu Poaceae) ; PO:00...,"Reproductive organ - Pollination, fertilizati...",NaN,NaN,GR:0060145,NaN,NaN,GO:0007275 - multicellular organismal development,TO:0000232 - cytoplasmic male sterility (sensu...,"PO:0009082 - spikelet floret , PO:0020048 - mi..."

In [31]:
pd_gene.columns = [str(x).replace('(','_').replace(
                     ' ','_').replace(
                     '.','').replace(
                    ')','') for x in list(pd_gene.axes[1])]

In [32]:
pd_gene.columns

Index(['CGSNL_Gene_Symbol', 'Gene_symbol_synonym_s', 'CGSNL_Gene_Name',
       'Gene_name_synonym_s', 'Protein_Name', 'Allele', 'Chromosome_No',
       'Explanation', 'Trait_Class', 'RAP_ID', 'MSU_ID', 'Gramene_ID', 'Arm',
       'Locate_cM', 'Gene_Ontology', 'Trait_Ontology', 'Plant_Ontology'],
      dtype='object')

In [33]:
pd_mapping = pd_gene[['CGSNL_Gene_Name', 'Gene_name_synonym_s','RAP_ID', 'MSU_ID']]

In [39]:
pd_mapping = pd_mapping.reset_index()

In [40]:
pd_mapping.head()

,Trait Gene Id,CGSNL_Gene_Name,Gene_name_synonym_s,RAP_ID,MSU_ID
0,1,CYTOPLASMIC MALE STERILITY 54257,Cytoplasmic mutant induced by somaclonal varia...,None,None
1,2,CYTOPLASMIC MALE STERILITY AK,"Akebono' cytoplasm, 'Akebono' cytoplasm",None,None
2,3,CYTOPLASMIC MALE STERILITY ARC,"ARC13829-16 cytoplasm, `ARC13829-26' cytoplasm",None,None
3,4,CYTOPLASMIC MALE STERILITY BO,"Chinsurah boro II' cytoplasm, `Chinsurah boro ...",None,None
4,5,CYTOPLASMIC MALE STERILITY CW,Chinese wild rice cytoplasm,None,None

In [41]:
pd_mapping=pd_mapping.fillna('None')

In [51]:
mapping_list=[]
rap_lit=[]
msu_list=[]
for row in pd_mapping.to_numpy():
  if row[1] != 'None' and row[1] != '_':
    name = row[1].upper()
    mapping_list.append([row[0],name])
  elif row[2] != 'None' and row[2] != '_':
    if ',' in row[2]:
      name = row[2].split(',')[0]
      name = name.upper()
      mapping_list.append([row[0],name])
    else:
      name = row[2].upper()
      mapping_list.append([row[0],name])

df = pd.DataFrame(mapping_list, columns =['Gene_ID', 'Name'])

In [52]:
df['Gene_ID'] = 'http://identifiers.org/oryzabase.gene/' + df['Gene_ID'].astype(str)

In [53]:
df.head()

                                   Gene_ID                              Name
0  http://identifiers.org/oryzabase.gene/1  CYTOPLASMIC MALE STERILITY 54257
1  http://identifiers.org/oryzabase.gene/2     CYTOPLASMIC MALE STERILITY AK
2  http://identifiers.org/oryzabase.gene/3    CYTOPLASMIC MALE STERILITY ARC
3  http://identifiers.org/oryzabase.gene/4     CYTOPLASMIC MALE STERILITY BO
4  http://identifiers.org/oryzabase.gene/5     CYTOPLASMIC MALE STERILITY CW

In [54]:
from pandas._libs import index
df.to_csv('pubAnnotation.txt', sep='\t',columns=['Name','Gene_ID'],index=False)

# Retrieving Title and Abstracts from PubMed

In [ ]:
from Bio import Entrez
import time
Entrez.email = 'pierre.larmande@ird.fr'
#pmids = [29090559 29058482 28991880 28984387 28862677 28804631 28801717 28770950 28768831 28707064 28701466 28685492 28623948 28551248]
handle = Entrez.efetch(db="pubmed", id=pmids[1:10], retmode="xml")
records = Entrez.read(handle)
#abstracts = [pubmed_article['MedlineCitation']['Article']['Abstract']['AbstractText'][0]  if 'Abstract' in pubmed_article['MedlineCitation']['Article'].keys() else pubmed_article['MedlineCitation']['Article']['ArticleTitle']  for pubmed_article in records['PubmedArticle']]
#abstract_dict = dict(zip(pmids, abstracts))
#print abstract_dict

In [ ]:
output_writer = open(abstracts_file, "w")

In [ ]:
#abstracts = [pubmed_article['MedlineCitation']['Article']['Abstract']['AbstractText'][0]  if 'Abstract' in pubmed_article['MedlineCitation']['Article'].keys() else pubmed_article['MedlineCitation']['Article']['ArticleTitle']  for pubmed_article in records['PubmedArticle']]
#abstract_dict = dict(zip(pmids, abstracts))
#print(abstract_dict)
for pubmed_article in records['PubmedArticle']:
  pmid = pubmed_article['MedlineCitation']['PMID'][:]
  title = pubmed_article['MedlineCitation']['Article']['ArticleTitle']
  abstract = pubmed_article['MedlineCitation']['Article']['Abstract']['AbstractText'][0]  if 'Abstract' in pubmed_article['MedlineCitation']['Article'].keys() else ''
  #print(pmid)
  output_writer.write(pmid + '\t' + title + '\t' + abstract +'\n')

handle.close()
output_writer.close

# NER Tagging

#**Saving the results**

In [ ]:
! git pull
#! git add output/iric_oryzabase_tf_annotation.pkl
! git commit -m "saving"
! git push

Already up to date.
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean
Everything up-to-date